<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!ios && !showSearchbar"></ion-title>
    <img src="assets/img/LogoVG.png" slot="end" style="width:240px; height:80px;" slot="start">
  </ion-toolbar>
</ion-header>

<ion-content class="fundo" fullscreen="true">
  <br>
  <ion-card class="login-logo">
    <ion-text style="color:white">
      <h2>EM DESENVOLVIMENTO</h2>
      <h4>Favor encaminhar seu chamado pelo email adm@visaoglobalimoveis.com.br</h4>
      <h4>ou</h4>
      <h4> clique para enviar um WhatsApp agora</h4>
    </ion-text>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <img src="assets/img/whatsapp.png" (click)="openWhats()" class="whatsImage">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
    
</ion-content>
