ion-fab-button {
  --background: var(--ion-color-step-150, #000000);
  --background-hover: var(--ion-color-step-200, #f2f2f2);
  --background-focused: var(--ion-color-step-250, #d9d9d9);

  --color: var(--ion-color-primary, #3880ff);
}

/*
 * Material Design uses the ripple for activated
 * so only style the iOS activated background
 */
.ios ion-fab-button {
  --background-activated: var(--ion-color-step-250, #d9d9d9);
}

.fundo{
  --background: url('../../../assets/img/visaoglobal2.jpg')top center cover no-repeat;
}
$categories: (
  ionic: var(--ion-color-primary),
  angular: #ac282b,
  communication: #8e8d93,
  tooling: #fe4c52,
  services: #fd8b2d,
  design: #fed035,
  workshop: #69bb7b,
  food: #3bc7c4,
  documentation: #b16be3,
  navigation: #6600cc
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track='#{$track}'] ion-label {
    border-left: 2px solid $value;
    padding-left: 10px;
  }
}

ion-item ion-label{
  border-left: 2px solid #ac282b;
  padding-left: 10px;
}

.vist{
  text-align: center;
  padding-top: 20vh;
  font-weight: bolder;
}
.text {
  vertical-align: center;
  text-align: center;
}
.shadow{
  text-shadow: 0.1em 0.1em #333;
}
.login-logo {
  border-radius: 10px;
  vertical-align: center;
  min-height: 100px;
  text-align: center;
  background: #000000;
  opacity: 0.7;
  width: 90%;
}
.login-logo img {
  vertical-align: center;
  text-align: center;
  max-width: 200px;
  padding-top: 30px;
}

.whatsImage{
  width: 64px;
  height: auto;
}
