.login-logo {
    padding: 20px 0;
    text-align: center;
    background: transparent;
}

.login-logo img {
    max-width: 150px;
}

.list {
    margin-bottom: 0;
}
.personalizando{
    text-align: center;
    background: rgba(0, 0, 0, .7);
    height: 50vh;
}
ion-spinner{
    transform: scale(2);
}
.saudacao{
    text-align: center !important;
}
.saudacao, .txt, .botoes{
    opacity: 0;
}